@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: end;
}

.paginate li {
  width: 40px;
  height: 40px;
  border: 1px solid #f3f4f6;
  color: #94a3b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.paginate li:hover {
  border: 1px solid #4f46e5;
  background-color: #4f46e5;
  color: #f3f4f6;
}
/* w-[40px] h-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-700 hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600" */
